:root {
    --black-primary-color: #010101;
    --white-primary-color: #D9D9D9;
    --purple-primary-light-color: #C66AFF;
    --purple-secondary-light-color: #9D00FF;
    --purple-primary-dark-color: #572C72;
    --black-secondary-color: #000;
}

.container__main {
    background-color: var(--black-primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__categorias_details {
    min-height: 100vh;
}

.container__categorias_details_filter {
    background-color: var(--purple-primary-dark-color);
    padding: 10px;
}

.container__categorias_details_filter form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filter_input {
    background-color: var(--black-primary-color);
    font-size: 18px;
    color: var(--white-primary-color);
    margin: 5px 0;
    border-radius: 25px;
    padding: 10px;
    width: 100%;
}

.filter_input_btn {
    font-size: 18px;
    padding: 10px;
    border-radius: 50px;
    border: solid 1px var(--purple-primary-light-color);
    color: var(--purple-primary-light-color);
    background-color: var(--black-primary-color);
    margin: 15px 0;
    width: 100%;
}

.container__categorias_details_items {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0;
    justify-content: space-around;
}

.container__categorias_details_items h3 {
    font-size: 26px;
    color: var(--white-primary-color);
    margin-bottom: 20px;
    width: 100%;
}

.container__news_card {
    margin-bottom: 10px;
}